/articles-cdc-2-20201028.json
/articles-cdc-20201028.json
/articles-ecdc-europa-4-20201020.json
/articles-health-harvard-2-20201020.json
/articles-hopkinsmedecine-6-20201020.json
/articles-learnaboutcovid-53-20201020.json
/articles-misc-3-2020-10-28.json
/articles-uchicagomedecine-7-20201020.json
